* {
  box-sizing: border-box;
}

body {
  background: rgb(254, 193, 29);
}
#myPage {
  background: rgb(254, 193, 29);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  font-weight: bold;
  margin: 0;
}

h2 {
  text-align: center;
}

p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

span {
  font-size: 12px;
}

#logo {
  max-width: 100%;
  height: 200px;
  width: 400px;
  align-items: center;
}

button {
  border-radius: 20px;
  border: 1px solid #f17c2de5;
  background-color: #d31f12;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

button:active {
  transform: scale(0.95);
}

button:focus {
  outline: none;
}

button.ghost {
  background-color: transparent;
  border-color: #ffffff;
}

form {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  height: 100%;
  text-align: center;
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
}

.container {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.container.right-panel-active .sign-in-container {
  transform: translateX(100%);
}

.sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.container.right-panel-active .sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.container.right-panel-active .overlay-container {
  transform: translateX(-100%);
}

.overlay {
  background: #f17c2de5;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  transform: translateX(50%);
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
  transform: translateX(0);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

.container.right-panel-active .overlay-right {
  transform: translateX(20%);
}

.navbar {
  background-color: #ffffffe5;
  border-radius: 4px;
}

.photo {
  width: 170px;
  height: 170px;
  border-radius: inherit;
  border-radius: 50%;
  border: 5px solid #f17c2de5;
  position: relative;
  background-size: cover;
}

.nav-item:hover {
  font-family: "Dekko", cursive;
  font-size: 22px;
}

/**********************************************GAME PAGE**********************************************/

#game {
  display: block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
}

#sectionMemoryGame {
  width: 90vh;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
  background-color: rgba(11, 5, 0, 0.7);
  box-shadow: 5px 5px 5px rgba(11, 5, 0, 0.7);
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.7);
  transition: transform 0.5s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.memory-card1 {
  width: calc(111% / 9);
  height: calc(110% / 3.6);
  margin: 8px auto;
}
.memory-card2 {
  width: calc(111% / 11);
  height: calc(110% / 5);
  margin: 10px auto;
}

#front-face,
#back-face {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 5px;
  backface-visibility: hidden;
  pointer-events: none;
}

#front-face {
  transform: rotateY(180deg);
}

.overlay-text {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  z-index: 100;
  color: rgb(254, 193, 29);
}
#difficulty,
.titleGameOver,
.titleWin {
  font-family: "Lakki Reddy", cursive;
}
.titleGameOver,
.titleWin {
  color: #e6cccae3;
}
#start,
.confirmButton,
.th {
  font-family: "Trade Winds", cursive;
}

#formSelect,
td {
  font-family: "Dekko", cursive;
  font-size: 15px;
}

.overlay-text-small {
  font-size: 0.3em;
}

.overlay-text.visible {
  display: flex;
  flex-direction: column;
  animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
  from {
    background-color: rgb(0, 0, 0);
    font-size: 0;
  }
  to {
    background-color: rgba(0, 0, 0, 0.883);
    font-size: 4em;
  }
}

/********* Player Bar******/

#navbarPlayer {
  box-shadow: 5px 5px 5px rgba(11, 5, 0, 0.7);
  font-family: "Dekko", cursive;
  width: 110vh;
}

#sectionTimer {
  color: black;
}
/************************/

/**Stars For lifes**/

ul > li {
  list-style: none;
}

.star-rating > li {
  display: inline-block;
  margin-top: -10px;
  font-size: 15px;
}

/**********************************************GAME PAGE**********************************************/

/**********************************************PROFILE PAGE**********************************************/

.container-profil {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 800px;
  max-width: 100%;
  min-height: 400px;
  align-content: center;
  justify-content: center;
}

#submitUsername,
#submitPassword {
  border-radius: 20px;
  border: 1px solid #f17c2de5;
  background-color: #eb6b15e5;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 50%;
}

table {
  box-shadow: 0 0 20px rgba(90, 32, 6, 0.89);
}

.container-scores thead {
  background-color: rgb(165, 14, 14);
}

.citeHelpPage {
  font-family: "Emilys Candy", cursive;
}
.pProfilePage {
  font-family: "Fanwood Text", serif;
}

.pHelpPage {
  font-family: "Neuton", serif;
}
